@font-face {
    font-family: Childrenoftherevolution;
    src: url(Childrenoftherevolution.ttf)
  }
  
  h1 {
    font-family: Childrenoftherevolution;
  }

  h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }