.category, .link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    min-width: 40vw;
    padding: 20px;
    font-size: 5vw;
    border: 2px black solid;
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 10px;
}

h3 {
    margin: 10px;
    letter-spacing: 1vw;
    text-shadow: 0 0 18px rgb(165, 151, 151);
}