.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.App-logo {
  padding: 10px;
  height: 12vmin;
  pointer-events: none;
  position: relative;
  right: .5vw;
  bottom: .5vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: shake .5s;

  animation-iteration-count: infinite;
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.App-header {
  background-color: #ffffff;
  min-height: 83vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: hidden;
}

.stripe {
  max-width: 78vw;
  position: absolute;
  top: 2px;
  z-index: 0;
}

h1 {
  color: black;
  z-index: 1;
  font-size: 10vw;
  letter-spacing: 1vw;
  text-shadow: 0 0 20px rgb(224, 118, 118);
}

#organize {
  transform: rotate(-2deg);
}

#mobilize {
  transform: rotate(5deg);
}

.org-header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
